# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.LicenseSystem.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Development\VisualStudio\C#\LicenseAPI\LicenseSystem\.idea\.idea.LicenseSystem\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
